{% extends 'base.html' %}
{% block title %} Articulos {% endblock title %}
{% block content %}
<main class="d-flex">
    {% include 'posts/sidebar.html' %}
    <section class="container">
        {% if user.is_staff %}
        <a class="btn btn-success my-3" href="{% url 'posts:create' %}"><i class="fa-solid fa-plus"></i> Nueva
            Publicación</a>
        {% endif %}
        {% for post in posts %}
        {% include 'posts/post_card.html' %}
        {% empty %}
        <h1>No hay articulos para mostrar</h1>
    
        {% endfor %}
    </section>
</main>
{% endblock content %}