<aside class="bd-sidebar">
    <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 py-3 pt-md-1">
            <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="true">
                    Categorías
                </button>

                <div class="collapse show" id="collapse1">
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li>
                            <a class="d-inline-flex align-items-center rounded"
                                href="{% url 'posts:create_category' %}"><i class="fa-solid fa-plus"></i> Nueva
                                Categoría</a>
                        </li>
                        <li><a href="{% url 'posts:index' %}" class="d-inline-flex align-items-center rounded">Todos los
                                articulos</a></li>
                        {% for category in categories %}
                        <li>
                            <a href="{{category.get_filterby_link}}"
                                class="d-inline-flex align-items-center rounded">{{category.name}}</a>
                            {% if user.is_staff %}
                            <a class="text-secondary" href="{{category.get_update_url}}"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                            <a class="text-danger" href="{{category.get_delete_url}}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </li>
                        {% empty %}
                        No hay categorías
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="true">
                    Ordenar por
                </button>

                <div class="collapse show" id="collapse2">
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="d-inline-flex align-items-center rounded">Más reciente</a></li>
                        <li><a href="#" class="d-inline-flex align-items-center rounded">Más destacados</a></li>
                        <li><a href="#" class="d-inline-flex align-items-center rounded">Más antiguos</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</aside>