<aside class="bd-sidebar">
    <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
        <ul class="list-unstyled mb-0 py-3 pt-md-1">
            <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="true">
                    Categorías
                </button>

                <div class="collapse show" id="collapse1">
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li><a href="#"
                                class="d-inline-flex align-items-center rounded">Categoria 1</a></li>
                        <li><a href="#"
                                class="d-inline-flex align-items-center rounded">Categoria 2</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#collapse2" aria-expanded="true">
                    Fechas
                </button>

                <div class="collapse show" id="collapse2">
                    <ul class="list-unstyled fw-normal pb-1 small">
                        <li><a href="#"
                                class="d-inline-flex align-items-center rounded">Fecha 1</a></li>
                        <li><a href="#"
                                class="d-inline-flex align-items-center rounded">FEcha 2</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

</aside>