{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Iniciar sesión
{% endblock title %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-4">
            <form action="" method="POST">
                <h1 class="mt-5">Iniciar Sesión</h1>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{next}}">
                {{form|crispy}}
                <button class="btn btn-success" type="submit">Iniciar sesion</button>
                <a href="{% url 'register' %}?next={{next}}">Crear nueva cuenta</a>
            </form>
        </div>
        {% include 'auth/lorem.html' %}
    </div>
</main>
{% endblock content %}