<div class="col-8">
    <div class="h1 mt-5">
        TITLE
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illum eius voluptas quibusdam tempora sint
        maiores dolor. Neque repellat ut blanditiis explicabo saepe sunt earum labore hic veritatis qui nemo
        cum, pariatur minus. Quos voluptate maiores, quaerat mollitia harum voluptatum earum molestias. Sit
        nulla sed debitis quos iusto earum laboriosam nisi sint omnis tempora, reiciendis numquam deleniti
        dolore consectetur ad dolorem in magnam inventore voluptatum provident. Impedit cum quam iusto, repellat
        sed fugit assumenda saepe omnis, enim, dolorum aspernatur sapiente odio? Totam iste culpa ut, saepe
        pariatur blanditiis non recusandae nisi mollitia ex. Obcaecati iusto nemo, tempore velit, nisi
        perspiciatis officiis odio eligendi ut nostrum beatae vitae iste sed cum praesentium aperiam. Libero
        corporis cum eius! Aperiam omnis voluptas dignissimos cupiditate? Nihil veritatis accusantium, ut
        nostrum quasi facilis, libero eum non labore voluptatum cumque quas. Quidem autem soluta ipsa deserunt!
        Iste repellat dolor, nostrum a vitae voluptatem, odit, rem itaque distinctio cumque ipsam iusto? Ea
        culpa ipsum, ut sequi vitae quis sint nostrum incidunt animi laudantium illo adipisci doloribus neque?
        Perferendis numquam ipsum quo suscipit. Iste minus cum veniam, alias eaque consequuntur praesentium
        explicabo debitis labore aspernatur soluta ipsum possimus obcaecati provident dolorum magnam corporis
        repudiandae autem illo deleniti in.
    </div>
</div>