{% extends 'base.html' %}
{% block title %}
Recuperación de contraseña
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Solicitud de recuperación de contraseña</h2>
        <p>Por favor, ingresa tu correo electrónico para restablecer tu contraseña:</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Enviar solicitud</button>
        </form>
    </div>
</div>
{% endblock content %}